/*this css below is for index page*/
body{
    background-color: rgb(122, 112, 112);
    padding-top: 70px;
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 15px 20px;
    gap: 10px;
    position: fixed;
    top: 0;
    width: 96%;
    border: 2px solid black;
    backdrop-filter: blur(15px);
    box-shadow: 0 15px 35px rgba(0,0,0,0,5);
    z-index: 999;
}
.navigation a{
    color: black;
    background-color: #ffffff;
    padding: 8px 16px;
    display: inline-block;
    margin: 5px;
    border-radius: 5px;
    text-decoration: wavy;
}
.navigation a:hover{
    width: 180px;
    color: skyblue;
}
.main{
    margin-top: 80px;
}
.slide-show{
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    z-index: 1;
}
.slide-show img{
    width: 75%;
    height: 500px;
    object-fit: fill;
    position: absolute;
    display: none;
    left: 50%;
    transform: translateX(-50%);
}
.slideshow img:first-child{
    display: block;
}
.popup-box{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 2px solid brown;
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
}
#Popup-box{
    display: none;
}
.aboutus{
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    box-sizing: border-box;
}
.aboutus1{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}
.aboutus1 img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.aboutus1 button{
    align-self: flex-start;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #ffffff;
}
.aboutus button:hover{
    opacity: 0.85;
    background-color: skyblue;
}
.special-offers button{
      align-self: flex-start;
      padding: 8px 16px;
      cursor: pointer;
      background-color: #ffffff;
}
.special-offers button:hover{
    opacity: 0.85;
    background-color: skyblue;
}
.footer{
    background-color: grey;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px;
}
/*Css for coffee selection*/
.search-bar{
    margin-top: 50px;
}
#search{
    width:300px;
    height: 30px;
}
.coffee{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    width: 100%;
}
.coffee1 img{
    width: 100%;
    height: 200px;
    object-fit: fit;
}
.coffee1 button{
    align-self: flex-start;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #ffffff;
}
.coffee1 button:hover{
    opacity: 0.85;
    background-color: skyblue;
}
/*cart*/
.cart-title{
    margin-top: 70px;
}